// Variables
$playerOneColor: #d6040e;
$playerTwoColor: #030f63;
$defeatedColor: #444;
$background-color: #9c9c9c;
$modalBackground: #707070;
$titleColor: #d6040e;
$mainFont: 'Alfa Slab One', sans-serif;

// General Rules

.container {
  display: flex;
  justify-content: space-between;
}

body {
  background: $background-color;
  color: #ffffff;
  font-family: $mainFont;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

button {
  font-family: $mainFont;
  cursor: pointer;
  background: $titleColor;
  text-shadow: 2px 2px #222;
  color: #fff;
  padding: 0.5vw;
  font-size: 1.5vw;
  text-align: center;
  border-radius: 0.5vw;

  &:hover {
    background: lighten($titleColor, 10%)
  }
}

.flash {
  animation: flash infinite 1.5s;
}

@keyframes flash {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
}

// Map

.map {
  margin: 0 0;
  width: 45vw;
  height: auto;
}

.area {
  cursor: pointer;
}

.unit {
  font-size: 1.2em;
  font-family: $mainFont;
  pointer-events: none;
  user-select: none;
  fill: #fff;
}

// Strength Bar

.bars {
  display: flex;
  justify-content: center;
  margin-top: 3vh;

  > div {
    height: 5vh;
  }
}

// Player Panel

.player-panel {
  background: $playerOneColor;
  width: 13vw;
  height: 80vh;
  text-shadow: 0.2vw 0.2vw #222;
  border-radius: 5px;
  border: 0.3vw solid #222;
  margin-top: 8vh;
  margin-left: 5vw;
  font-size: 1.4vw;
  display: none;
  flex-direction: column;
  align-items: center;

  h1 {
    color: $playerTwoColor;
    text-shadow: 0.2vw 0.2vw #fff;
    font-size: 3.5vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
  }

  button {
    margin-top: auto;
    margin-bottom: 2vh;
    background: $playerTwoColor;
  }
}

.player-panel.player-2 {
  background: $playerTwoColor;
  h1 {
    color: $playerOneColor;
  }

  button {
    background: $playerOneColor;
  }
}

.stage-message {
  font-family: 'arial', sans-serif;
  font-size: 1em;
  margin: 1vw;
}

.stage-name {
  color: $playerTwoColor;
  text-shadow: 0.2vw 0.2vw #ffffff;
  margin: 3vh 1vh;
  font-size: 1.5em;

}

.stage-name.player-2 {
  color: $playerOneColor;
}

.stage-tip {
  font-family: 'arial', sans-serif;
  margin: 1vw;
  font-size: 1em;
}

// Info Panel

.info-panel {
  display: none;
  width: 13vw;
  height: 80vh;
  text-align: left;
  margin-top: 8vh;
  margin-right: 5vw;
  flex-direction: column;

  > div {
    border: 2px solid #222;
    padding: 3px 5px;
    text-shadow: 2px 2px #222;
    margin: 5px 0;
    border-radius: 5px;
  }
  > button {
    margin-top: auto;
  }
}

.info-one {
  background: $playerOneColor;

  &.highlight {
    background: lighten($playerOneColor, 15%);
  }

  &.defeated {
    background: $defeatedColor;
  }
}

.info-two {
  background: $playerTwoColor;

  &.highlight {
    background: lighten($playerTwoColor, 10%);
  }

  &.defeated {
    background: $defeatedColor;
  }
}

.country-info {
  background: $defeatedColor;
}

.country-info-message {
  font-family: 'arial', sans-serif;
}

// Modals

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
}

.content {
  background: $modalBackground;
  position: relative;
  width: 500px;
  top: 150px;
  margin: 0 auto;
  border: 4px solid #222;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 10px;
}

// Start Modal

.start-modal {
  width: 400px;
  background: $modalBackground;
  top: 100px;
  position: relative;
  margin: 0 auto;
  font-family: $mainFont;
  font-size: 2em;
  z-index: 6;
  border: 4px solid $titleColor;
  border-radius: 5px;
  color: white;
  text-shadow: 2px 2px black;

  button {
    margin: 10px auto;
  }
}

.title {
  font-size: 2.5em;
  color: $titleColor;
  text-shadow: 3px 3px white;
}

// Win Modal

.win-content {
  button {
    margin: 15px auto;
  }
}

.win-message {
  font-size: 3rem;
  text-shadow: 2px 2px #fff;
  padding: 10px;
}
